@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin-top: 6rem;
    font-family: 'Montserrat', sans-serif;
}

#logo_navbar {
    width: 32px;
    height: 32px;
}

#logo_footer {
    width: 64px;
    height: 64px;
}

#navbar_main {
    background-color: #e3f2fd;
}

#navbar_main .navbar-collapse {
    margin-top: 10px;
}

#navbar_main .nav-link {
    color: black;
    padding: 1em 0.7em;
    transition: all 0.4s;
}

#navbar_main .nav-link.active {
    color: #0d6efd;
    font-weight: bolder;
}

#navbar_main .nav-link:hover {
    background-color: #0d6efd;
    color: white;
}

#main_last_post {
    position: relative;
}

#publicidad {
    display: none;
}

@media only screen and (min-width: 992px) {
    #navbar_main {
        padding: 0;
    }

    #navbar_main .navbar-collapse {
        margin-top: 0;
    }

    /* Este padding le pongo cuando esta SIN colapsar */
    #navbar_main .nav-link {
        padding: 1em 0.7em;
    }

    #publicidad {
        display: flex;
    }
}

/* Para el carousel */
#myCarousel .carousel-item {
    height: 30rem;
    background-color: #000;
    color: white;
    position: relative;
}

#myCarousel .carousel-item .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}


#footer_main {
    height: 6rem;
    background: #1b2a4e;
}

#footer_main p {
    color: #f3f3f3;
    text-align: center;
}

#footer_main i {
    font-size: 20px;
    padding: 0 8px;
    color: #f3f3f3;
}

@media (max-width: 992px) {
    #footer_main {
        height: 10rem;
    }
}

/* Galeria css agregado por camila */
.galeryImg {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 200ms ease;
}

.galeryImg:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
    transform: translateY(-3%);
}

.pages-icons {
    list-style: none;
}

/* About us agregado por Fernanda */
.mi-card {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 200ms ease;
}

.mi-card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
    transform: translateY(-3%);
}


.mi-card-img-top {
    width: 200px;
    height: 200px;
    padding: 15px;
    border-radius: 50%;
}

/* estilos para contacto.html */
.mi-map {
    height: 400px;
    width: 500px;
    border: 0;
}

@media (max-width: 576px) {
    .mi-map {
        height: 200px;
        width: 100%;
    }
}

/* Estilos para error404 */
.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Estilos para el login */
#login {
    background-color: #E3F2FD;
}

.fondo-login {
    background: #b3d1e3;
    background: linear-gradient(to right, #022c46, #0a1dec);
    margin-top: 0;
}

.bg-imagen {
    background-image: url("../assets/img/login_small.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}